body {
  height: 100vh;
  height: 100dvh;
  /* overflow: hidden; */
}

/* main */
main {
  overflow: hidden;
  width: 100%;
}

/* MARK: Action
*/
/* #region */
#upload__form {
  display: flex;
  justify-content: flex-end;
  gap: 1em;
  align-items: center;
  margin: 0 auto;
  width: min(80em, 100%);
  max-width: 100%;
}

.error {
  color: var(--color-error);
  text-align: right;
}

#upload__button {
  flex: 0 0 fit-content;
}
/* #endregion */

/* MARK: Table
*/
/* #region */
#tables {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  gap: 2rem;
  overflow: auto;
}

table {
  border-spacing: 0;
  border-color: transparent;
  border-collapse: separate;
}

td {
  background-color: var(--table-bg);
}

tr:nth-child(odd) td {
  background-color: var(--table-bg-odd);
}

td:first-child {
  border-left: solid 0.2rem var(--border-smooth);
}

td {
  text-align: center;
  padding: 0.4rem;
  border-right: solid 0.2rem var(--border-smooth);
}

.dayNight,
.newday {
  color: var(--table-header-color);
  font-weight: 900;
}

.dayNight {
  font-size: 1.4rem;
  --line-bg-color: var(--day-night);
}

.newday {
  font-size: 1.25rem;
  --line-bg-color: var(--new-day);
}

tr:has(.dayNight, .newday) td {
  background-color: var(--line-bg-color);
}

tr.break td {
  background-color: var(--break);
}
/* #endregion */
