img {
  width: 3em;
  height: 3em;
  border-radius: 50%;
}

header,
#navegacao__header {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

header > h1 {
  align-self: center;
}

#deslog {
  width: 3em;
  height: 3em;
}

header {
  background-color: var(--header-bg);
  justify-content: space-between;
  align-items: stretch;
  padding: 0.5em;

  margin: 0 auto;
  width: min(80em, 100%);
  max-width: 100%;
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 4.25em;
  background-color: var(--bg-color-smooth);
  z-index: -1;
}

#navegacao__header {
  gap: 1em;
}

.navegacao__header__button {
  background-color: var(--secundary);
  color: var(--header-option-text-color);
  text-decoration: none;
  transition: 0.2s;
  border-radius: 0.5em;
  cursor: pointer;
  padding: 1em 1.5em;
}

.navegacao__header__button:hover {
  background-color: var(--terciary);
}

.navegacao__header__button.active {
  background-color: var(--bg-color) !important;
  color: var(--text-color);
  transform: translateY(0.25em);
  border-radius: 0.5em 0.5em 0 0;
}

.navegacao__header__button.active::after {
  content: "";
  position: absolute;
  bottom: -0.7em;
  left: 0;
  right: 0;
  height: 0.8em;
  background-color: var(--bg-color);
}

:is(#navegacao__header__avisos, #navegacao__header__openmenu, #navegacao__menu__avisos) {
  position: relative;
}

:is(
    #navegacao__header__avisos,
    #navegacao__header__openmenu,
    #navegacao__menu__avisos
  )[data-warning]::after {
  content: "";
  position: absolute;
  right: -0.25em;
  top: -0.25em;
  width: 1em;
  height: 1em;
  display: block;
  border-radius: 50%;
  background-color: hsla(0, 100%, 50%, 0.8);
  animation: 1s anim linear infinite;
  pointer-events: none;
}

@keyframes anim {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
}

/* extend */
#navegacao__header__openmenu {
  margin-right: 0.5em;
}

#navegacao__menu {
  position: fixed;
  inset: 0;
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  padding: 1em;
  gap: 1em;
  z-index: 1;

  --displace: 2.5rem;
}

#navegacao__header__closemenu {
  margin-left: auto;
}

#navegacao__menu #deslog {
  width: 100%;
  height: auto;

  margin-top: 2em;
  padding: 1em;
}

#admin {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1em;
}

#admin > #navegacao__header__closemenu {
  margin: 0;
}

#admin > h1 {
  flex: 1 1 fit-content;
}

@media (max-width: 30em) {
  header > h1 {
    font-size: max(1rem, 6vw);
    text-align: center;
  }
}

#navegacao__menu[data-open="true"] {
  animation: 0.75s headerAppear cubic-bezier(0.2, 0.3, 0.4, 0.8) forwards;
}

@keyframes headerAppear {
  0% {
    clip-path: circle(0% at calc(100% - var(--displace)) var(--displace));
  }
  100% {
    clip-path: circle(200% at calc(100% - var(--displace)) var(--displace));
  }
}

#navegacao__menu[data-close="true"] {
  animation: 0.75s headerDisappear cubic-bezier(0.3, 0.5, 0.6, 0.9) forwards;
}

@keyframes headerDisappear {
  0% {
    clip-path: circle(200% at calc(100% - var(--displace)) var(--displace));
  }
  100% {
    clip-path: circle(0% at calc(100% - var(--displace)) var(--displace));
  }
}
