#header,
#header__options {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

#header > h1 {
  align-self: center;
}

#header {
  background-color: var(--header-bg);
  justify-content: space-between;
  align-items: stretch;
  padding: 0.5em;

  margin: 0 auto;
  width: min(80em, 100%);
  max-width: 100%;
}

#header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 4.125em;
  background-color: var(--bg-color-smooth);
  z-index: -1;
}

#header__options {
  gap: 1em;
}

#header__options__img {
  width: 3em;
  height: 3em;
  border-radius: 50%;
  display: block;
}

/* MARK: Header buttons
*/
/* #region */

.header__options__button {
  color: var(--header-option-text-color);
  text-decoration: none;
  padding: 1em 1.5em;
}

.header__options__button:is(:hover, :focus-visible) {
  border-color: transparent;
}

.header__options__button.active {
  background-color: var(--bg-color) !important;
  color: var(--text-color);
  transform: translateY(0.25em);
  border-radius: 0.5em 0.5em 0 0;
}

.header__options__button.active::after {
  content: "";
  position: absolute;
  bottom: -0.7em;
  left: 0;
  right: 0;
  height: 0.8em;
  background-color: var(--bg-color);
}

.header__popupmenu__active {
  background-color: var(--bg-color);
  border: solid 0.1em var(--header-popupmenu-active-border-color);
}

:is(#header__options__warnings, #header__options__openmenu, #header__popupmenu__warnings) {
  position: relative;
}

:is(
    #header__options__warnings,
    #header__options__openmenu,
    #header__popupmenu__warnings
  )[data-warning]::after {
  content: "";
  position: absolute;
  right: -0.25em;
  top: -0.25em;
  width: 1em;
  height: 1em;
  display: block;
  border-radius: 50%;
  background-color: var(--header-notification-color);
  animation: 1s newWaningNotification linear infinite;
  pointer-events: none;
}

@keyframes newWaningNotification {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
}
/*#endregion*/

/* MARK: Header popup menu
*/
/* #region */
#header__popupmenu {
  position: fixed;
  inset: 0;
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  gap: 1em;
  z-index: 1;

  --displace: 2rem;
}

#header__popupmenu__closemenu {
  margin-left: auto;
}

#header__popupmenu .fullwidth {
  width: 100%;
  height: auto;

  margin-top: 3rem;
  padding: 1em;
}

#header__popupmenu__options {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  margin-top: 3rem;
}

.header__popupmenu__options__button {
  width: 100%;
  height: auto;
  padding: 1em;
}

/*#endregion*/

#admin {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1em;
}

#admin > #header__popupmenu__closemenu {
  margin: 0;
}

#admin > h1 {
  flex: 1 1 fit-content;
  color: var(--header-h1-color);
}

@media (max-width: 30em) {
  #header > h1 {
    font-size: max(1rem, 6vw);
    text-align: center;
  }
}

#header__popupmenu[data-open="true"] {
  animation: 0.75s headerAppear cubic-bezier(0.2, 0.3, 0.4, 0.8) forwards;
}

@keyframes headerAppear {
  0% {
    clip-path: circle(0% at calc(100% - var(--displace)) var(--displace));
    /* background-color: var(--bg-color); */
    background-color: var(--bg-color-smooth);
  }
  100% {
    clip-path: circle(200% at calc(100% - var(--displace)) var(--displace));
    background-color: var(--bg-color);
  }
}

#header__popupmenu[data-close="true"] {
  animation: 0.75s headerDisappear cubic-bezier(0.3, 0.5, 0.6, 0.9) forwards;
}

@keyframes headerDisappear {
  0% {
    clip-path: circle(200% at calc(100% - var(--displace)) var(--displace));
    background-color: var(--bg-color);
  }
  100% {
    clip-path: circle(0% at calc(100% - var(--displace)) var(--displace));
    background-color: var(--table-bg-odd);
  }
}
