@font-face {
  font-family: "FontAwesome900";
  src: url("/fonts/fa-solid-900.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "FontAwesome400";
  src: url("/fonts/fa-regular-400.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

.icons::before,
.icons.after::after {
  display: inline-block;
  font-family: "FontAwesome900";
  font-weight: 900;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  margin-right: 0.5rem;
}

.icons.after::after {
  margin-right: 0rem;
  margin-left: 0.5rem;
}

.icons.outline::before {
  font-family: "FontAwesome400";
  font-weight: 400;
}

.icons.square {
  width: 2em;
  height: 2em;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons.nomargin::before {
  margin-right: 0;
}

.icons.plus::before {
  content: "\2b";
}

.icons.xmark::before {
  content: "\f00d";
}

.icons.down::before {
  content: "\f078";
}

.icons.exit::before {
  content: "\f2f5";
}

.icons.left::before {
  content: "\f104";
}

.icons.calendar-plus::before {
  content: "\f271";
}

.icons.calendar-xmark::before {
  content: "\f273";
}

.icons.calendar-normal::before {
  content: "\f133";
}

.icons.upload::before {
  content: "\e09a";
}

.icons.edit::before {
  content: "\f044";
}

.icons.trash::before {
  content: "\f1f8";
}

.icons.save::before {
  content: "\f0c7";
}

.icons.warn::before {
  content: "\f071";
}

.icons.loading::after {
  content: "\f574";
  animation: uploadfile 1s ease-out;
}

@keyframes uploadfile {
  0% {
    clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
  }
  100% {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
}
