/* Estilos gerais, onde o aplicativo inteiro vai usar */
:root {
  color-scheme: dark;
  --acess-outline: hsl(0, 0%, 100%);

  --bg-color: hsl(240, 10%, 10%);
  --bg-color-smooth: hsl(220, 50%, 20%);
  --text-color: hsl(0, 0%, 100%);

  --primary: hsl(225, 65%, 40%);
  --secundary: hsl(225, 70%, 25%);

  --header-bg: hsl(225, 65%, 20%);
  --header-option-text-color: hsl(0, 0%, 90%);
  --header-popupmenu-active-border-color: hsla(0, 0%, 100%, 0.2);
  --header-notification-color: hsla(0, 100%, 50%, 0.8);
  --header-notification-color-alpha: hsla(0, 100%, 50%, 0.5);
  --header-h1-color: hsl(0, 0%, 100%);

  --border: hsl(240, 10%, 40%);
  --border-smooth: hsl(240, 10%, 25%);
  --input-color: hsl(225, 70%, 20%);
  --input-border-color: hsl(225, 50%, 50%);
  --text-color-placeholder: hsl(0, 0%, 90%);

  --table-bg: hsl(240, 10%, 10%);
  --table-bg-odd: hsl(240, 5%, 20%);
  --day-night: hsl(225, 60%, 35%);
  --new-day: hsl(225, 60%, 30%);
  --break: hsl(240, 30%, 15%);
  --table-header-color: hsl(0, 0%, 100%);

  --color-error: hsl(0, 100%, 75%);

  --button-delete: hsl(0, 70%, 27%);
  --button-delete-hover: hsl(0, 62%, 41%);

  --link: hsl(226, 58%, 92%);
  --link-hover: hsl(225, 100%, 94%);

  --footer: hsl(225, 75%, 15%);
  --footer--copyright: hsl(225, 50%, 39%);

  --cookies-bg-color: hsl(240, 10%, 30%);

  --calendar-added: hsl(145, 63%, 61%);
  --calendar-day: hsl(0, 100%, 74%);
}

:root[data-theme="light"] {
  color-scheme: light;
  --acess-outline: hsl(0, 0%, 0%);

  --bg-color: hsl(240, 23%, 94%);
  --bg-color-smooth: hsl(220, 33%, 71%);
  --text-color: hsl(0, 0%, 0%);

  --primary: hsl(223, 92%, 74%);
  --secundary: hsl(223, 50%, 67%);

  --header-bg: #a7beff;
  --header-option-text-color: hsl(0, 0%, 10%);
  --header-popupmenu-active-border-color: hsla(0, 0%, 0%, 0.2);
  --header-notification-color: hsla(0, 100%, 50%, 0.8);
  --header-notification-color-alpha: hsla(0, 100%, 50%, 0.5);
  --header-h1-color: hsl(0, 0%, 0%);

  --border: hsl(240, 20%, 64%);
  --border-smooth: hsl(240, 28%, 69%);
  --input-color: hsl(226, 52%, 75%);
  --input-border-color: hsl(225, 56%, 21%);
  --text-color-placeholder: hsl(0, 0%, 13%);

  --table-bg: hsl(240, 29%, 85%);
  --table-bg-odd: hsl(240, 25%, 75%);
  --day-night: hsl(225, 47%, 39%);
  --new-day: hsl(225, 48%, 35%);
  --break: hsl(240, 28%, 69%);
  --table-header-color: hsl(0, 0%, 100%);

  --color-error: hsl(0, 61%, 36%);

  --button-delete: hsl(0, 76%, 84%);
  --button-delete-hover: hsl(0, 80%, 68%);

  --link: hsl(222, 84%, 22%);
  --link-hover: hsl(223, 56%, 17%);

  --footer: hsl(226, 25%, 77%);
  --footer--copyright: hsl(227, 89%, 71%);

  --cookies-bg-color: hsl(228, 100%, 99%);

  --calendar-added: hsl(145, 82%, 18%);
  --calendar-day: hsl(0, 81%, 33%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--text-color);
  font-family: Arial, Helvetica, sans-serif;
}

html {
  background-color: var(--bg-color);
}

body {
  min-height: 100vh;
  min-height: 100dvh;

  /* display: flex; */
  /* flex-direction: column; */
  background-color: var(--bg-color);

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  isolation: isolate;
  overflow-x: hidden;
  position: relative;
}

:focus-visible {
  outline: 0.2em solid var(--acess-outline);
  box-shadow: inset 0 0 0 0.1em var(--acess-outline);
  z-index: 100;
}

ul,
ol {
  margin-left: 1em;
}

li {
  margin-bottom: 0.5em;
}

img {
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 1rem;
  max-width: 100%;
  height: auto;
  display: block;
}

/* MARK: Buttons
*/
/* #region */
button,
.buttons,
a,
input[type="submit"] {
  background-color: var(--secundary);
  color: var(--text-color);
  border: none;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
}

:is(button, a, .buttons, input[type="submit"]):is(:focus-visible, :hover) {
  background-color: var(--primary);
}

a.notButton {
  display: block;
  background: none;
  border: none;
  padding: 0;
}

a.link {
  background: none !important;
  border: none;
  border-radius: 0;
  padding: 0;
  display: inline-block;
  color: var(--link);
  text-decoration: underline;
}

a.link:is(:focus-visible, :hover) {
  color: var(--link-hover);
}
/*#endregion*/

/* MARK: Inputs
*/
/* #region */
:is(input[type="text"], input[type="password"], input[type="date"], textarea)::placeholder {
  color: var(--text-color-placeholder);
}

input[type="text"],
input[type="password"],
input[type="date"],
textarea {
  background-color: var(--input-color);
  border: solid 0.2em var(--primary);
  border-radius: 0.5em;
  padding: 0.5em;
  font-size: 1rem;
}

:is(input[type="text"], input[type="password"], input[type="date"], textarea):is(
    :focus-visible,
    :hover
  ) {
  background-color: var(--secundary);
}
/*#endregion*/

/* MARK: Main
*/
main {
  padding: 0.5em;
  padding-top: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: 0 auto;
  width: min(50em, 100%);
  max-width: 100%;
  transition: 0.2s transform;
  position: relative;

  min-height: calc(100vh - 4em);
  min-height: calc(100svh - 4em);
}

/* MARK: Tab Swipe
*/
/* #region */
main.pullAction.cronogram::before,
main.pullAction.warnings::after {
  position: absolute;
  top: 0;
  bottom: 0;
  font-size: 1rem;
  font-weight: 900;
  padding-top: 1em;
  background: var(--bg-color-smooth);
  margin: 0;
  padding-inline: 0.5em;
}

main.cronogram::before {
  left: -5.5em;
  padding-left: 4em !important;
  content: "\f073";
}

main.warnings::after {
  right: -5.5em;
  padding-right: 4em !important;
  content: "\f071";
}

#tab__swipe {
  display: flex;
  gap: 1em;
  align-items: center;
  font-size: 1rem;
  position: relative;
  isolation: isolate;
  --x: 0%;
}

#tab__swipe::before {
  content: "";
  position: absolute;

  width: 8ch;
  padding-inline: 1em;
  height: 3.5rem;
  background-color: var(--bg-color);
  transform: translateX(calc(var(--x) - 0.25em));
  bottom: -0.5em;
  z-index: -1;
  border-radius: 0.5em 0.5em 0 0;
}

#tab__swipe__current,
#tab__swipe__next {
  font-size: 1rem;
  width: 10ch;
  padding-inline: 1em;
  text-align: center;
}

/*#endregion*/

#noData {
  margin: 0 auto;
  width: min(80em, 100%);
  max-width: 100%;
  text-align: center;
  background-color: var(--table-bg-odd);
  border: dashed 0.25em var(--border-smooth);
  border-radius: 1em;
  padding: 1em;
}

.hasBG {
  position: relative;
}

.hasBG::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  transform-origin: 50% 50%;
  transform: translateX(-50vw);
  width: 100vw;

  background-color: var(--bg-color-smooth);
  z-index: -1;
}

/* MARK: Footer
*/
/* #region */
footer {
  margin-top: auto;
  background-color: var(--footer);
  padding-top: 1em;
  margin: 0 auto;
  width: min(80em, 100%);
  max-width: 100%;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#footer__logoandtext {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  text-align: left;
  padding-inline: 1rem;
}

#footer__logoandtext__img {
  max-width: 100%;
  height: 3em;
}

#footer__logoandtext__text {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#footer__catchphrase {
  font-style: italic;
}

footer a {
  display: block;
  text-align: left;
}

#footer__nav {
  display: flex;
  justify-content: center;
  padding-inline: 1rem;
}

#footer__nav__ul {
  list-style: none;
  margin-left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1em;
  width: fit-content;
}

footer li {
  margin-bottom: 0;
}

#footer__copyright {
  display: flex;
  justify-content: center;
  background-color: var(--footer--copyright);
  padding: 0.5rem;
}
/* #endregion */

/* MARK: Cookies
*/
/* #region */
#cookie__banner {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0.5em;
  width: 50em;
  max-width: 100%;
  padding: 1em;
  border-radius: 1em;
  background: var(--cookies-bg-color);
  display: flex;
  gap: 1em;
  align-items: center;
}

#cookie__banner__img {
  width: 2em;
  height: 2em;
}

#cookie__banner__description {
  display: flex;
  gap: 0.5em;
  align-items: center;
}

#accept__cookies {
  padding-inline: 2em;
}
/* #endregion */

@media (max-width: 50em) {
  #cookie__banner {
    left: 0;
    right: 0;
    bottom: 0;
    transform: none;
    border-radius: 0.5em 0.5em 0 0;
  }
}

@media (max-width: 35em) {
  #cookie__banner {
    flex-direction: column;
  }

  #accept__cookies {
    padding-inline: 1em;
    width: 10em;
    max-width: 100%;
  }

  #footer__nav__ul {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
  }
}
