@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css);

/* Estilos gerais, onde o aplicativo inteiro vai usar */
:root {
  color-scheme: dark;
  --acess-outline: #ffffff;
  --bg-color: #17171c;
  --bg-color-smooth: #19274e;
  --text-color: #ffffff;
  --text-color-placeholder: #dbdbdb;
  --primary: #2545a8;
  --secundary: #152b70;
  --terciary: #fe1a1a;
  --header-bg: #11204e;
  --header-option-text-color: #e0e0e0;
  --border: #5e5e6e;
  --border-smooth: #3e3e46;
  --input-color: #0d1b43;
  --input-border-color: #3c5cc1;

  --table-bg: #17171c;
  --table-bg-odd: #2e2e34;
  --day-night: #26408d;
  --new-day: #1d326e;
  --break: #17172a;
  --color-error: #ff8080;

  --link: #9aaee8;
  --link-hover: #7698ff;

  --footer: #071334;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--text-color);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--bg-color);
  min-height: 100vh;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

:focus-visible {
  outline: 0.25em solid var(--acess-outline);
  z-index: 100;
}

ul,
ol {
  margin-left: 1em;
}

li {
  margin-bottom: 0.5em;
}

/* buttons */
button,
.buttons,
a,
select,
input[type="submit"] {
  background-color: var(--secundary);
  color: var(--header-option-text-color);
  border: none;
  text-decoration: none;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
}

:is(button, a, .buttons, select, input[type="submit"]):is(:focus-visible, :hover) {
  background-color: var(--primary);
}

a.link {
  background: none !important;
  border: none;
  border-radius: 0;
  padding: 0;
  display: inline-block;
  color: var(--link);
  text-decoration: underline;
}

a.link:is(:focus-visible, :hover) {
  color: var(--link-hover);
}

/* inputs */
:is(input, textarea)::placeholder {
  color: var(--text-color-placeholder);
}

input[type="text"],
input[type="password"],
input[type="date"],
textarea {
  background-color: var(--input-color);
  border: solid 0.2em var(--primary);
  border-radius: 0.5em;
  padding: 0.5em;
  font-size: 1rem;
}

:is(input[type="text"], input[type="password"], input[type="date"], textarea):is(
    :focus-visible,
    :hover
  ) {
  background-color: var(--secundary);
}

/* main */
main {
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: 0 auto;
  width: min(50em, 100%);
  max-width: 100%;
}

#noData {
  margin: 0 auto;
  width: min(80em, 100%);
  max-width: 100%;
  text-align: center;
  background-color: var(--table-bg-odd);
  border: dashed 0.25em var(--border-smooth);
  border-radius: 1em;
  padding: 1em;
}

/* footer */
footer {
  margin-top: auto;
  background-color: var(--footer);
  text-align: center;
  padding: 1em;
}

footer a {
  display: inline-block;
}

footer ul {
  list-style: none;
}

footer li {
  margin-bottom: 0;
}

/* cookie__banner */
#cookie__banner {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0.5em;
  width: 50em;
  max-width: 100%;
  padding: 1em;
  border-radius: 1em;
  background-color: var(--border);
  display: flex;
  gap: 1em;
  align-items: center;
}

#cookie__banner__description {
  display: flex;
  gap: 0.5em;
  align-items: center;
}

#accept__cookies {
  padding-inline: 2em;
}

@media (max-width: 50em) {
  #cookie__banner {
    left: 0;
    right: 0;
    bottom: 0;
    transform: none;
    border-radius: 0.5em 0.5em 0 0;
  }
}

@media (max-width: 35em) {
  #cookie__banner {
    flex-direction: column;
  }

  #accept__cookies {
    padding-inline: 1em;
    width: 10em;
    max-width: 100%;
  }
}
