#form {
  border: solid 0.25em var(--border-smooth);
  padding: 1em;
  border-radius: 0.5em;
  gap: 0.5em;

  display: flex;
  flex-direction: column;
  gap: 1em;
}

#title {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 1rem;
}

#title a {
  display: block;
  width: fit-content;
  width: 3em;
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
}

.form__sections {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

#inputs__div {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

#titulo__div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.form__sections__div {
  flex: 1 1 calc(50% - 1em);
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

#datas {
  flex-direction: row;
  flex-wrap: wrap;
}

#acoes__div {
  display: flex;
  justify-content: flex-end;
  gap: 1em;
}

.mensagem__erro {
  color: var(--color-error);
}

#corpo {
  resize: vertical;
  width: 100%;
}

#deletaraviso__botao {
  background-color: var(--button-delete);
  margin-right: auto;
}

#deletaraviso__botao:is(:focus-visible, :hover) {
  background-color: var(--button-delete-hover);
}

.icons.calendar-plus::before {
  color: var(--calendar-added);
}

.icons.calendar-xmark::before {
  color: var(--calendar-day);
}

@media (max-width: 35em) {
  #title {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }

  .form__sections__div {
    width: 100%;
  }
}
