#form {
  border: solid 0.25em var(--border-smooth);
  padding: 1em;
  border-radius: 0.5em;
  gap: 0.5em;

  display: flex;
  flex-direction: column;
  gap: 1em;
}

#title {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 1rem;
}

#title a {
  display: block;
  width: fit-content;
  width: 3em;
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
}

.form__sections {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

#inputs__div {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

#titulo__div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.form__sections__div {
  flex: 1 1 calc(50% - 1em);
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

#datas {
  flex-direction: row;
  flex-wrap: wrap;
}

#acoes__div {
  display: flex;
  justify-content: flex-end;
  gap: 1em;
}

.mensagem__erro {
  color: var(--color-error);
}

#corpo {
  resize: none;
  width: 100%;
}

#deletaraviso__botao {
  margin-right: auto;
}

#popup__saved {
  position: fixed;
  top: 0;
  left: 50%;
  right: 0;
  transform: translateX(-50%);
  width: min(25em, 100%);
  max-width: 100vw;
  background-color: var(--primary);
  padding: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  animation: 3s animateIn ease-out forwards;
  z-index: 10;
}

#popup__saved[data-hide="true"] {
  animation: 1s animateOut ease-out forwards;
}

@keyframes animateIn {
  0%,
  100% {
    transform: translateX(-50%) translateY(-100%);
  }
  25%,
  75% {
    transform: translateX(-50%) translateY(0%);
  }
}

@keyframes animateOut {
  0% {
    transform: translateX(-50%) translateY(0%);
  }
  100% {
    transform: translateX(-50%) translateY(-100%);
  }
}

@media (max-width: 35em) {
  #title {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }

  .form__sections__div {
    width: 100%;
    flex: 0 0 100%;
  }
}
