<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Avisos</title>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/avisos.css" />
  </head>
  <body>
    <div class="header">
      <div class="logo_header">
        <img src="img/logo3.jpg" alt="logo" />
      </div>
      <div class="navegacao_header">
        <a href="index.html">Horários</a>
        <a href="avisos.html" class="active">Avisos</a>
      </div>
    </div>

    <div class="div1">
      <p>
        <strong>Amanhã não haverá aula</strong> - Devido á briga causada ontem na escola que gerou
        outros diversos conflitos entre professores e alunos...
      </p>

      <a href="ler_mais.html">Ler mais</a>
    </div>

    <!-- PASSAR PARA A TELA DO ADM ⬇  -->
    <!-- <button type="button" class="buttons"><img src="img/editar.png" alt=""></button>
    <button type="button" class="buttons"><img src="img/apagar.png" alt=""></button> -->
  </body>
</html>
