RewriteEngine On

# Deny access to the /uploads directory
RewriteCond %{REQUEST_URI} ^/uploads/ [NC]
RewriteRule ^ - [F,L]

# Allow access to files in the public directory
RewriteCond %{REQUEST_URI} ^/css/ [OR]
RewriteCond %{REQUEST_URI} ^/js/ [OR]
RewriteCond %{REQUEST_URI} ^/img/
RewriteRule ^ - [L]

# Route all other requests to index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [L]
