#avisos {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.aviso {
  padding: 0.5em;
  border: 0.2em solid var(--border-smooth);
  border-radius: 1em;
  min-height: 3.5em;
  gap: 0.5em;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.aviso__title {
  font-weight: 600;
  margin-right: auto;

  word-break: break-word;
  text-wrap: balance;
}

.aviso__date__end,
.popUpAviso__header__open {
  flex: 0 0 fit-content;
}

#popUpAviso__header__close {
  padding: 0em;
  width: 2em;
  height: 2em;
}

#popUpAviso {
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  background-color: var(--bg-color);
  padding: 0.5em;
}

#popUpAviso__div {
  padding: 1em;
  height: 100vh;
  height: 100dvh;
  width: min(80em, 100%);
  max-width: 100%;
  border-radius: 0.5em;
  overflow-y: auto;
  padding-bottom: 4em;

  display: flex;
  flex-direction: column;
  gap: 1em;
  box-shadow: 0 0 0.25em 0.125em var(--bg-color-smooth);
}

#popUpAviso__header {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1em;
}

#popUpAviso__calendar {
  display: flex;
  width: fit-content;
  max-width: 100%;
  border-radius: 0.5em;
  gap: 2em;
}

#popUpAviso__content {
  white-space: pre-wrap;
  line-height: 1.5em;
}

#popUpAviso__content * {
  margin-bottom: 0.5em;
}

@media (max-width: 35em) {
  #popUpAviso__calendar {
    flex-direction: column;
    gap: 0.5em;
    width: 100%;
  }
  #popUpAviso__div {
    gap: 2em;
  }

  .aviso {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "title title" "date readmore";
  }

  .aviso__title {
    min-height: 1.5em;
    grid-area: title;
  }

  .aviso__date__end {
    grid-area: date;
  }

  .popUpAviso__header__open {
    grid-area: readmore;
  }
}
