form {
  display: flex;
  justify-content: flex-end;
  gap: 0.5em;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.accordion {
  border-radius: 0.5em;
  padding: 0.5em;
  cursor: pointer;
  background-color: var(--primary);
  overflow: hidden;
}

.accordion:has(> .active) {
  background-color: var(--bg-color-smooth);
}

.accordion .icons {
  transition: transform 0.25s ease-out;
}

.accordion:has(.active) .icons {
  transform: rotate(180deg);
}

.accordion-hearder {
  width: 100%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
  padding: 0.5em;

  background-color: transparent;
  cursor: pointer;
}

.accordion-hearder:is(:focus-visible, :hover) {
  background-color: transparent;
}

.accordion-hearder span {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.accordion-body {
  font-size: 1rem;
  opacity: 0;
  height: 0;
  pointer-events: none;
  overflow: hidden;
  transition: opacity 0.4s;
}

.accordion-body.active {
  height: 100%;
  opacity: 1;
  padding: 0.25em 0em;
  pointer-events: all;
}

table {
  border-spacing: 0;
  width: 100%;
  padding-top: 1em;
}

td {
  padding: 0.5em;
}

td:nth-child(1) {
  font-weight: 600;
}

td:nth-child(2) {
  border-left: solid 0.25em var(--border-smooth);
  width: 100%;
}

tr.break > td {
  border: solid 0.25em var(--border-smooth);
  border-left: 0;
  border-right: 0;
  font-weight: 600;
}
