#authors {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-left: 0;
}

.author__item {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  border: solid 0.1em var(--border-smooth);
  padding: 0.5em;
  border-radius: 0.5em;
}

.author__logoandname {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.author__logoandname__img {
  width: 3rem;
  border-radius: 50%;
}

.author__item__contact {
  margin-top: 0.5em;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
}

.author__item__contact > .icons {
  font-size: 2rem;
}

.author__tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
}

.tag__item {
  padding: 0.2em 0.4em;
  border-radius: 0.5em;
  background-color: var(--table-bg-odd);
}
